<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771933054342-me9e67igt4dejj5755ptlpeencggplvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771933054342-me9e67igt4dejj5755ptlpeencggplvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDnVS6oM1iWBM2Avwa75Z-oDb8AXmITSFg</string>
	<key>GCM_SENDER_ID</key>
	<string>771933054342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com..moltaqa.maarefa</string>
	<key>PROJECT_ID</key>
	<string>ma3rafa-13104</string>
	<key>STORAGE_BUCKET</key>
	<string>ma3rafa-13104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771933054342:ios:a8f76d63e3040070c03807</string>
</dict>
</plist>